/* MENU------------------------------------------ */
.contenidoMenu {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 45px;
}

.contenidoMenu .logoMenu {
  position: relative;
  width: 100%;
  height: 50px;
  color: aliceblue;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenidoMenu .logoMenu img {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  display: none;
}

.contenidoMenu .logoMenu img.active {
  display: flex;
}

.contenidoMenu .logoMenu h1.active {
  display: none;
}

.contenidoMenu .logoMenu h1 {
  display: flex;
}

.contenidoMenu .grupo1 {
  position: relative;
  width: 100%;
  height: calc(100vh - 215px);
  margin-bottom: 5px;
}
.contenidoMenu .navLink{
  position: relative;
  width: 100%;
  height: auto;
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}

.contenidoMenu .navLink:hover{
  color: yellow;
  border: 1px solid yellow;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contenidoMenu .grupo1 .forma1,
.contenidoMenu .grupo2 .forma3 {
  position: relative;
  width: 100%;
  display: flex;
}
.contenidoMenu .grupo1 .forma1.active,
.contenidoMenu .grupo2 .forma3.active {
  display: none;
}

.contenidoMenu .grupo1 .forma1 ul,
.contenidoMenu .grupo2 .forma3 ul {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.contenidoMenu .grupo1 .forma1 ul li,
.contenidoMenu .grupo2 .forma3 ul li {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border: 1px solid aliceblue;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.contenidoMenu .grupo1 .forma2,
.contenidoMenu .grupo2 .forma4 {
  position: relative;
  width: 100%;
  display: none;
}
.contenidoMenu .grupo1 .forma2.active,
.contenidoMenu .grupo2 .forma4.active {
  display: flex;
}

.contenidoMenu .grupo1 .forma2 ul,
.contenidoMenu .grupo2 .forma4 ul {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.contenidoMenu .grupo1 .forma2 ul li,
.contenidoMenu .grupo2 .forma4 ul li {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-decoration: none;
}

.contenidoMenu .grupo2 {
  position: relative;
  width: 100%;
  height: 100px;
}
